<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Kevin Whetten</a>
      <div class="d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">About</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/education']">Education</a>
          </li>
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-light" [routerLink]="['/history']">History</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/music']">Music</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-light" [routerLink]="['/miniatures']">Miniatures</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/projects']">Projects</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-light" [routerLink]="['/contact']">Contact</a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
