<div class="about-container">
  <h1>About Me</h1>
  <div class="row">
    <div class="portrait">
      <img src='../../assets/images/about/Portrait.jpg' alt="This is me..."/>
    </div>
    <div class="basic-info">
      <h2>Kevin Ray Whetten</h2>
      <h3><strong>Born:</strong> December 26, 1993</h3>
      <h3><strong>Age:</strong> {{age}}</h3>
      <p>I am a professional Software Developer specializing in Angular and .NET. I am proficient with Angular, C#,
        SQL Server, and more.</p>
      <p>In my free time, I like to play Nintendo games, board games, and tabletop RPGs; compose symphonic music, design
        board games, build fantasy worlds, paint miniatures, and develop random software relating to my other
        hobbies.</p>
      <p></p>
    </div>
  </div>
</div>
